/.gitignore
/.npmignore
/.travis.yml
/.tslintrc.json
/coverage/
/Makefile
/lib.d/
/src/**/*.ts
!/src/**/*.d.ts
/node_modules/
/test/

/.last_build
/.last_build_all

/docs
/tsdoc.json
/.last_doc_config
